.invoice {
  font-family: Arial, sans-serif;
  width: 60%;
  margin: 0 auto;
  padding: 20mm;
}

.details tr, 
.details td {
  padding: 1%;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5mm;
}
.invoice-table th {
  background-color: rgb(200, 202, 202);
}
.invoice-table th,
.invoice-table td {
  border: 0.5mm solid #000;
  padding: 1mm;
  text-align: center;
}

.totals {
  text-align: right;
  margin-top: 2mm;
}

.totals p{
  padding: 0;
  margin: 1mm;
}

.footer {
  margin-top: 2mm;
}

.p_footer {
  padding-bottom: 3mm;
  border-bottom: 0.7mm solid #000;
}

.p_footer p, .signatures2 p{
  padding: 0;
  margin: 0;
}

.signatures, .signatures2{
  display: flex;
  justify-content: space-between;
}

.signatures p{
  width: 48%;
  padding-bottom: 7mm;
  border-bottom: 0.5mm solid #000;
}

.signatures2 p{
  width: 48%;
  font-size: 80%;
}
